@import bourbon
@import neat

@import ./mixins
@import ./constants

#header-img-bg
  @include fill-parent

  position: absolute
  z-index: -1
  top: -150px

  @media (min-width: 980px)
    // image width
    top: -180px

  img
    width: 100vw


#header-img-headshot
  border: $accent-grey-color solid 5px
  border-radius: 100px
  margin-top: 110px
  margin-left: 35px

#content-container
  border-top: 8px $accent-grey-color solid
  width: 100%
  margin-top: -100px
  // remove these two styles later
  min-height: 25px
  background: $dark-grey-color
  color: $light-grey-color

  #header-content
    @include desktop
      margin-left: 20%
    @include tablet
      margin-left: 30%
    @include phone
      margin-left: 30%

    .header-row

      .header-col
        display: inline
        border-right: $accent-grey-color solid 1px
        padding-right: 10px
        padding-left: 10px

      .header-col:first-child
        padding-left: inherit

      .header-col:last-child
        padding-right: inherit
        border-right: none

  .content-wrapper
    @include desktop
      width: 70%
      margin-left: 20%
      margin-right: 10%
    @include tablet
      width: 60%
      margin-left: 30%
      margin-right: 10%
    @include phone
      width: 60%
      margin-left: 30%
      margin-right: 10%

    #panel-tabs-container
      .panel-tab
        display: inline-block
        width: 33%
        text-align: center
        font-size: 20px
        margin-top: 10px
        margin-right: -4px
        margin-bottom: 15px
        padding-bottom: 10px
        padding-top: 10px
        border-right: $accent-grey-color solid 3px

        &.active
          background: tint($dark-grey-color, 15%)

        &:hover
          background: tint($dark-grey-color, 15%)

      .panel-tab:first-child
        border-left: $accent-grey-color solid 3px

    .content-row
      .content-row-header
        border-bottom: $accent-grey-color solid 2px
        padding-bottom: 2px
        margin-bottom: 2px

      .content-row-subtext
        color: shade($light-grey-color, 20%)
        font-size: 0.85em
        font-style: italic

      .content-row-content:last-child
        margin-bottom: 0
        padding-bottom: 45px

      .content-row-content
        margin-top: 45px
        margin-bottom: 45px

        .experience-row-company
          margin-bottom: 15px
          font-size: 1.25em
          display: inline-block

        .experience-row-date
          margin-left: 10px
          font-size: 0.85em
          font-style: italic
          display: inline-block

        .experience-row-position
          margin-left: 10px
          display: inline-block

      .skill-list
        li
          list-style: none
          display: inline-block

          img
            width: 60px
            background-color: white

a
  color: tint($light-grey-color, 50%)
  text-decoration: none

  &:hover
    color: shade($light-grey-color, 10%)

#header-name
  font-size: 40px

body
  margin: 0
  font-family: 'Raleway', sans-serif
