html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#header-img-bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -150px; }
  @media (min-width: 980px) {
    #header-img-bg {
      top: -180px; } }
  #header-img-bg img {
    width: 100vw; }

#header-img-headshot {
  border: #ccc solid 5px;
  border-radius: 100px;
  margin-top: 110px;
  margin-left: 35px; }

#content-container {
  border-top: 8px #ccc solid;
  width: 100%;
  margin-top: -100px;
  min-height: 25px;
  background: #404040;
  color: #e4e4e4; }
  @media (min-width: 1024px) {
    #content-container #header-content {
      margin-left: 20%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #content-container #header-content {
      margin-left: 30%; } }
  @media (max-width: 768px) {
    #content-container #header-content {
      margin-left: 30%; } }
  #content-container #header-content .header-row .header-col {
    display: inline;
    border-right: #ccc solid 1px;
    padding-right: 10px;
    padding-left: 10px; }
  #content-container #header-content .header-row .header-col:first-child {
    padding-left: inherit; }
  #content-container #header-content .header-row .header-col:last-child {
    padding-right: inherit;
    border-right: none; }
  @media (min-width: 1024px) {
    #content-container .content-wrapper {
      width: 70%;
      margin-left: 20%;
      margin-right: 10%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #content-container .content-wrapper {
      width: 60%;
      margin-left: 30%;
      margin-right: 10%; } }
  @media (max-width: 768px) {
    #content-container .content-wrapper {
      width: 60%;
      margin-left: 30%;
      margin-right: 10%; } }
  #content-container .content-wrapper #panel-tabs-container .panel-tab {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-right: -4px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-right: #ccc solid 3px; }
    #content-container .content-wrapper #panel-tabs-container .panel-tab.active {
      background: #5d5d5d; }
    #content-container .content-wrapper #panel-tabs-container .panel-tab:hover {
      background: #5d5d5d; }
  #content-container .content-wrapper #panel-tabs-container .panel-tab:first-child {
    border-left: #ccc solid 3px; }
  #content-container .content-wrapper .content-row .content-row-header {
    border-bottom: #ccc solid 2px;
    padding-bottom: 2px;
    margin-bottom: 2px; }
  #content-container .content-wrapper .content-row .content-row-subtext {
    color: #b6b6b6;
    font-size: 0.85em;
    font-style: italic; }
  #content-container .content-wrapper .content-row .content-row-content:last-child {
    margin-bottom: 0;
    padding-bottom: 45px; }
  #content-container .content-wrapper .content-row .content-row-content {
    margin-top: 45px;
    margin-bottom: 45px; }
    #content-container .content-wrapper .content-row .content-row-content .experience-row-company {
      margin-bottom: 15px;
      font-size: 1.25em;
      display: inline-block; }
    #content-container .content-wrapper .content-row .content-row-content .experience-row-date {
      margin-left: 10px;
      font-size: 0.85em;
      font-style: italic;
      display: inline-block; }
    #content-container .content-wrapper .content-row .content-row-content .experience-row-position {
      margin-left: 10px;
      display: inline-block; }
  #content-container .content-wrapper .content-row .skill-list li {
    list-style: none;
    display: inline-block; }
    #content-container .content-wrapper .content-row .skill-list li img {
      width: 60px;
      background-color: white; }

a {
  color: #f2f2f2;
  text-decoration: none; }
  a:hover {
    color: #cdcdcd; }

#header-name {
  font-size: 40px; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif; }
